#emailInput {
    margin-top: 0px;
}

#login-form-container {
    /* padding-bottom: 20px;
    margin-bottom: 20px;*/
    border-right: 2px dotted black;
    float: left;
    vertical-align: top;
}

.form-control {
    margin-top: 0px;
}

.form-container {
    float: left;
}