.form-control {
    margin-top: 25px;
    margin-bottom: 10px;
}

.image-input {
    margin-bottom: 20px;
}

.card {
    float: left;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 300px;
    height: 300px;
    margin: 1rem;
  }